body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
ol {
  margin: 0;
}
ul,
li {
  padding: 0;
  list-style: none;
}

/* 去掉输入框的内边距和边框和轮廓 */
input{
    padding: 0;
    border: 0;
    outline: none;
}

a{
text-decoration: none;
}
